body {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
}

nav {
    width: 15%;
}

main {
    width: 80%;
    padding: 10px;
}

nav, main {
    border: 2px solid red;
    box-sizing: border-box;
}