div {
    border-radius: 5px;
    border: 2px solid black;
}

#static {
    height: 1500px;
    width: 150px;
    background-color: #45ADA8;
    margin-left: 10px;
    border: 4px dashed red;
}

#fixed {
    height: 75px;
    width: 75px;
    background-color: #547980;
    position: fixed;
    top: 20px;
    left: 10px;
}