div {
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 2px solid black;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
}

div p {
    margin-top: 40px;
    font-size: 12px;
}

.friend {
    border: 2px dashed green;
}

.family {
    border: 2px dashed blue;
}

.school {
    border: 2px dashed red;
}

#best_friend {
    border: 4px solid #00C957;
}

#friday {
    border: 4px solid #cc0000;
}