html {
    font-size: 1vw;
}

html, body, div, button {
    padding: 0;
    /*border: 0;*/
    margin: 0;
    box-sizing: border-box;
}

html, body, #atf {
    height: 100%;
}

#atf {
    color: red;
    font-size: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
    /*padding-bottom: 3rem;*/
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}