.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.wrapper > * {
    flex-basis: 100%;
}

@media all and (min-width: 600px) {
    .aside {  flex: 1 auto;  }
}

@media all and (min-width: 800px) {
    .main    {
        flex: 3 0;
    }
    .aside-1 { order: 1; }
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
}