body {
    width: 80%;
    margin: 0 auto;
}

main, nav {
    border: 2px solid red;
    box-sizing: border-box;
    background-color: tomato;
}

nav {
    width: 25%;
    height: 400px;
    float: left;
}

main {
    width: 74%;
    height: 400px;
    float: right;
}