/*

* {
    border: 1px dashed red;
}

*/

.container {
    position: relative;
    border: 1px solid black;
    max-width: 700px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

nav {
    position: absolute;
    /*width: 200px;*/
    width: 25%;
}

section {
    /* position is static by default */
    /*margin: 0px 0px 10px 200px;*/
    /*margin: 0px 0px 10px 25%;*/
    margin: 0% 0% 2% 25%;
    /*margin-left: 25%;*/
}