.container {
    position: relative;
    border: 1px solid black;
    max-width: 700px;
    margin: 0 auto;
}

/*GREATER than 600px*/
@media screen and (min-width:600px) {
    nav {
        float: left;
        width: 25%;
    }
    section {
        margin-left: 25%;
    }
    section:last-child::after {
        content: "THIS IS MORE THAN 599px";
        color: red;
        font-weight: bold;
    }
}

/*LESS than 599px*/
@media screen and (max-width:599px) {
    nav li {
        display: inline;
    }
    section:last-child::after {
        content: "THIS IS LESS THAN 599px";
        color: red;
        font-weight: bold;
    }
}