* {
/*border: 1px solid black;*/
box-sizing: border-box;
}

.outer_container {
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
}


nav {
    vertical-align: top;
    display: inline-block;
    width: 25%;
}

.column {
    display: inline-block;
    width: 75%;
}