* {
border: 1px solid black;
box-sizing: border-box;
}

.outer_container {
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}


nav {
    position: absolute;
    width: 25%;
}

.column {
    margin-left: 25%;
}