.container {
    display: flex;
    /*display: inline-flex;*/

    flex-direction: row;
    flex-wrap: nowrap;
    /*flex-flow: row wrap;*/

    justify-content: space-between;
}

.item {
    width: 200px;
    height: 100px;
    margin: 1em;
    border: 1px solid red;
    background-color: darkgray;
    text-align: center;
}