* {
    /*outline: 1px solid red !important;*/
    border: 2px solid red !important;
}

div {
    color: #fff;
}

.relative {
    background-color: #bcbbbb;
    position: relative;
    width: 600px;
    height: 400px;
}

.absolute {
    background-color: cadetblue;
    position: absolute;
    top: 120px;
    right: 20px;
    width: 300px;
    height: 200px;
}