nav {
    display: flex;
    justify-content: space-between;
}

.header-nav-left {
    height: 50px;
    width: 33%;
}

.header-nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
}

img {
    margin-right: 20px;
}