html, body, div {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #atf {
    height: 100%;
}

html {
    font-size: 1vw;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    height: 20rem;
    width: 20rem;
    background-color: #00C957;
    border-radius: 4rem;
    animation-name: rotater;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotater {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}