#container {
    overflow: auto;
    border: 2px solid red;
}

#one, .happy {
    width: 300px;
    height: 300px;
    float: left;
    border: 2px solid yellow;
    margin: 20px;
}

#two {
    border: 2px solid green;
}

#three {
    clear: left;
    border: 2px solid black;
}

