* {
    /*outline: 1px solid red !important;*/
    border: 2px solid red !important;
}

div {
    height: 100px;
    width: 100px;
    background: blue;
    color: #fff;
}

/*

.relative1 {
    position: relative;
    top: 20px;
    left: 20px;
}

*/

.relative2 {
    position: relative;
    top: 20px;
    left: 20px;
    background-color: green;
}