.navigation {
    display: flex;
    flex-direction: column;
}

.navigation a {
    display: block;
}

@media all and (min-width: 600px) {
    .navigation {
        flex-direction: row;
        justify-content: flex-end;
    }
}