.navigation {
    list-style: none;
    margin: 0;
    background: deepskyblue;
    /*FLEX*/
    display: flex;
    justify-content: flex-end;
    /*these aren't need as they're the defaults*/
    /*flex-direction: row;*/
    /*flex-wrap: nowrap;*/
    /*flex-flow: row nowrap;*/
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.navigation a:hover {
    background: cornflowerblue;
}

/* 600px AND LESS */
@media all and (max-width: 600px) {
    .navigation {
        /*FLEX*/
        flex-direction: column;
        padding: 0;
    }

    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }
}