.wrapper {
    font-weight: bold;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
}

.header {
    background: tomato;
}

.footer {
    background: lightgreen;
}

.main {
    text-align: left;
    background: deepskyblue;
}

.aside-1 {
    background: gold;
}

.aside-2 {
    background: hotpink;
}

/*GREATER THAN 600px*/
@media all and (min-width: 600px) {
    body { padding: 0 2em; }
}

/*GREATER THAN 800px*/
@media all and (min-width: 800px) {
    body { padding: 0 3em; }
}