body {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

p, div {
    border: 1px solid #000;
    /*display: block;*/
}

span {
    color: red;
    /*display: inline;*/
}

aside {
    display: none;
}