html, body, h1, div, video, footer {
    padding: 0;
    margin: 0;
}

html, body, #atf {
    height: 100%;
}

#atf {
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    background-size: cover;
    transition: 1s opacity;
}

h1 {
    color: red;
    font-size: 5rem;
}

#btf {
    background-color: white;
}

footer {
    background-color: white;
}