body {
    display: flex;
    /* this is the default: */
    /*flex-flow: row nowrap;*/
}

div {
    border: 2px solid black;
    height: 100px;
    /*flex-grow: 1;*/
    /*flex-shrink: 1;*/
    flex-basis: 33%;
}

.flex1 {
    flex-grow: 1;
}

.flex2 {
    flex-grow: 2;
}