.c1 {
    padding: 10px;
    width: 100%;
}

@media (min-width: 500px) {
    .c1 {
        padding: 20px;
        font-size: 1.5em;
    }
}

@media (min-width: 800px) {
    .c1 {
        padding: 40px;
        font-size: 2em;
    }
}
