div {
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 640px) {

    div {
        flex-flow: row wrap;
    }

    article {
        width: 60%
    }

    nav {
     width: 20%
    }

    aside {
        width: 20%
    }

}
