header, nav, main, footer {
    border-radius: 5px;
}

header {
    height: 50px;
    background-color: #F38630;
    margin-bottom: 10px;
}

nav {
    width: 24%;
    height: 300px;
    margin-bottom: 10px;
    background-color: #A7DBD8;
    float: left;
}

main {
    width: 74%;
    height: 300px;
    margin-bottom: 10px;
    background-color: #E0E4CC;
    float: right;
}

footer {
    height: 50px;
    background-color: #69D2E7;
    clear: both;
}