.container {
    display: flex;
    flex-flow: row wrap;
}

.c1, .c2, .c3 {
    width: 100%;
}

@media (min-width: 600px) {
    .c1 {
        width: 60%;
        order: 2;
    }

    .c2 {
        width: 40%;
        order: 1;
    }

    .c3 {
        width: 100%;
        order: 3;
    }
}


@media (min-width: 800px) {
    .c2 {
        width: 20%;
    }

    .c3 {
        width: 20%;
    }
}