body {
    max-width: 600px;
    margin: auto;
    border: 1px solid #000;
}

p {
    font-family:Garamond;
    font-size:16px;
}

h3 {
    font-family:cursive;
    color:#36648b;
    text-align:center;
}

span {
    color:#cc0000;
    font-size:24px;
}