a {
	text-decoration: none;
}

a:hover {
	color: blue;
}

.marginless {
	margin: 0;
}

.lightmargin {
	margin: 10px;
}

.mediummargin {
	margin: 20px;
}

.heavymargin {
	margin: 50px;
}

.paddingless {
	padding: 0;
}

.lightpadding {
	padding: 10px;
}

.mediumpadding {
	padding: 20px;
}

.heavypadding {
	padding: 50px;
}

.flex {
	display: flex;
}

.flex1 {
	flex: 1;
}

.flex2 {
	flex: 2;
}

.flex3 {
	flex: 3;
}

.flex4 {
	flex: 4;
}

.flex5 {
	flex: 5;
}

.flex6 {
	flex: 6;
}

.flex7 {
	flex: 7;
}

.flexcolumn {
	flex-direction: column;
}

.flexrow {
	flex-direction: row;
}

.flexgrow1 {
	flex-grow: 1;
}

.flexgrow2 {
	flex-grow: 2;
}

.flexgrow3 {
	flex-grow: 3;
}

.flexshrink1 {
	flex-shrink: 1;
}

.flexshrink2 {
	flex-shrink: 2;
}

.flexshrink3 {
	flex-shrink: 3;
}

.button {
	padding: 10px 20px;
	font-size: 20px;
	font-family: sarif;
	height: 50px;
}

.button:hover {
	background: lightblue;
}

.uppercase {
	text-transform: uppercase;
}

.inline {
	display: inline;
}

.header {
	padding: 10px 20px;
	font-family: fantasy;
	border-bottom: gray solid 2px;
	position: fixed;
	width: 100%;
	height: 60px;
	background: white;
	top: 0;
	left: 0;
}

.joes {
	background-image: url("./assets/joes.jpeg");
	background-size: cover;
	background-attachment: fixed;
}

.space {
	height: 800px;
}

.sponsors img {
	height: 300px;
}

.burger {
	padding: 20px 40px;
	background: lightgray;
	margin-bottom: 40px;

}

.burgerbutton {
	padding: 10px 20px;
}

.articles {
	height: 100%;
	font-size: 20px;
}

.article {
	overflow: hidden;
	border: 2px lightgray solid;
}

.pagination button {
	padding: 10px;
	margin: 10px 2px;
}

.footer {
	background: darkgray;
	text-align: center;
}

.separator {
	border-bottom: 2px solid gray;
}