.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container div {
    box-sizing: border-box;
    min-height: 150px;
    min-width: 150px;
}

.c1 {
    color: whitesmoke;
    background-color: #003476;
}