#waikiki {
    background-image: url("../img/adventure-lg.jpg");
}

#logo {
    height: 50%;
}

nav {
    height: 10rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-lg {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 440px;
}

.nav-lg-itm {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-lg-itm:nth-child(n) {
    flex: 1 1 auto;
}

.nav-lg-itm a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-lg-itm a:hover {
    color: #0266C8;
    background-color: #ffffe0;
}

/* MOBILE MENU DISABLE */
.nav-mobile {
    display: none;
}