/* disable menu in footer */
/* on large devices, menu is displayed in header */
/* nm = nav mobile */
.nm {
    display: none;
}

/* ABOVE THE FOLD */
/* rulesets to show certain content above the fold */

#hero-img {
    background-image: url("../img/adventure-lg.jpg");
}

header {

    /*
    increase the height of the header area
    this is necessary to contain both the logo and nav
                            THE ENDLESS JOURNEY
                SPONSORS   MUSIC   PICTURES   MAP   BLOG
    */
    height: 85px;

    /*
    header is already set to "display: flex" in main.css
    setting it here again just for clarity
    */
    /* make child elements of header arrange in a column */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 100%;

    /*
    flex-grow was set on #logo in main.css
    it is set again here for clarity
    */
    flex-grow: 1;

    /*
    "height: 100%" was set on #logo in main.css
    we need to set "flex-basis: 0" to override this
    */
    flex-basis: 0;
}

.nd {
    width: 100%;

    /*
    with #logo and .nd both set to "flex-grow: 1"
    they will both grow along the flex container's primary axis
    in this case, the vertical axis
    they will fill in the space in the header along vertical axis
    */
    flex-grow: 1;

    /* arrange li elements horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.nd-i {*/
    /*height: 100%;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/

/*.nd-i:nth-child(n) {*/
    /*flex: 1 1 auto;*/
/*}*/

/*.nd-i a {*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/

/*.nd-i a:hover {*/
    /*color: #0266C8;*/
    /*background-color: #ffffe0;*/
/*}*/

