#waikiki {
    background-image: url("../img/hawaii-lg-30.jpg");
}

/* DESKTOP MENU */
#logo {
    margin-left: 2rem;
}

nav {
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-lg {
    display: flex;
    width: 440px;
    margin-right: 2rem;
}

.nav-lg-itm {
    text-align: center;
    display: flex;
    justify-content: center;
}

.nav-lg-itm:nth-child(n) {
    flex: 1 1 auto;
    color: red;
}


/* MOBILE MENU DISABLE */
.nav-mobile {
    display: none;
}