#hero-img {
    background-image: url("../img/adventure-lg.jpg");
}

#logo {
    margin-left: 2rem;
}

nav {
    justify-content: space-between;
}

.nav-lg {
    height: 100%;
    width: 440px;
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.nav-lg-itm {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-lg-itm:nth-child(n) {
    flex: 1 1 auto;
}

.nav-lg-itm a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border-radius: 10px;
}

.nav-lg-itm a:hover {
    color: #0266C8;
    background-color: #ffffe0;
}

#c2a-btn {
    font-size: 1.8rem;
    padding: 1.5rem 6rem;
    background-color: #333;
    border-radius: 5px;
    color: #fff;
    font-weight: 300;
    line-height: 1;

}

/* MOBILE MENU DISABLE */
.nav-mobile {
    display: none;
}