body {
    display: flex;
    flex-flow: row wrap;
}

header, article, aside, footer {
    flex-basis: 100%;
    /*flex: 100%;*/
}

@media all and (min-width: 600px) {
    .aside {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
        /*flex: 1 auto; */
    }
}

@media all and (min-width: 800px) {
    .main {
        flex-grow: 3;
        flex-shrink: 0;
        flex-basis: 0;
        /*flex: 3 0 0;*/
        /*flex: 3 0; */
    }
    .aside-1 { order: 1; }
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
}