body {
    margin: 40px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border: 4px solid green;
}

@media screen and (min-width: 600px) {
    img {
        border: 4px solid blue;
    }
}

@media screen and (min-width: 901px) {
    img {
        border: 4px solid orange;
    }
}

@media print {
    img {
        border: 4px dashed gray;
    }
}
